<template>
  <div>
    <div class="row mb-5">
      <AppNews
        v-for="(news, index) in newsData"
        :key="index"
        :channel="news.channel"
        :image="news.image"
        :title="news.title"
        :url="news.url"
        :summary="news.summary"
        :published="news.published"
      />
    </div>
    <AppPagination :number-of-news="numberOfNews" :paginateLimit="paginateLimit" class="mb-5"/>
    <div v-if="warning" class="alert alert-dark" role="alert">{{warning}}</div>
  </div>
</template>

<script>
import AppNews from '@/components/AppNews';
import AppPagination from '@/components/AppPagination';
import { mapState } from 'vuex';

export default {
  components: {
    AppNews,
    AppPagination,
  },
  data() {
    return {
      paginateLimit: 3,
      warning: null,
      warningMessage:
        'There are no results for this search! Please try with another search.',
    };
  },
  computed: {
    ...mapState({
      numberOfNews: state => Math.round(state.news.news.count / 10),
      newsData: state => state.news.news.results,
      paginationPage: state => state.pagination.paginationPage,
      searchTerm: state => state.search.searchTerm,
    }),
  },
  watch: {
    paginationPage() {
      const url =
        this.$route.name !== 'search'
          ? `${this.$route.path}`
          : `${this.$route.path}/${this.searchTerm}/`;

      this.fetchNews(url, this.paginationPage);
    },
  },
  methods: {
    fetchNews(url, page) {
      this.$store.dispatch('getNews', {
        url,
        page,
      });
    },
  },
};
</script>

<style scoped>
.alert {
  text-align: center;
}
</style>
