<template>
  <div class="col-sm-6 mb-5">
    <div class="card">
      <img :src="image" :title="title" class="card-img-top">
      <p
        :class="{
            'news': channel==='News',
            'aktualno': channel==='Aktualno',
            'najnovije': channel==='Najnovije',
            'sport': channel==='Sport',
            'tech': channel==='Tech',
            'show': channel==='Show',
            'lifestyle': channel==='Lifestyle',
            'viral': channel==='Viral'
            }"
        class="channel"
      >{{channel}}</p>
      <div class="card-body">
        <p class="card-text">{{parseDate(published)}}</p>
        <h2 class="mb-4">
          <a :href="url" class="card-title" target="_blank" rel="noopener noreferrer">{{title}}</a>
        </h2>
        <p class="card-text mb-2">{{summary}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppNews',
  props: {
    channel: String,
    image: String,
    title: String,
    url: String,
    summary: String,
    published: String,
  },
  methods: {
    parseDate(date) {
      const options = {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        hour: '2-digit',
        minute: '2-digit',
      };
      return new Date(date).toLocaleString('hr-HR', options);
    },
  },
};
</script>

<style scoped>
.aktualno {
  background-color: rgb(151, 87, 246);
}
.najnovije {
  background-color: rgb(30, 30, 30);
}
.news {
  background-color: rgb(215, 6, 12);
}
.lifestyle {
  background-color: rgb(239, 193, 13);
}
.show {
  background-color: rgb(255, 147, 18);
}
.sport {
  background-color: rgb(64, 177, 77);
}
.tech {
  background-color: rgb(71, 192, 255);
}
.viral {
  background-color: rgb(41, 122, 246);
}
.channel {
  width: 25%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0px;
  font-weight: bold;
  color: white;
  position: relative;
  top: -33.8px;
}
.card-body {
  padding-top: 0rem;
}
img {
  max-width: 100%;
  height: auto;
}
</style>
