<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <form class="form-inline">
      <router-link class="nav-link" to="/">Home</router-link>
      <router-link
        v-for="(channel, index) in channels"
        :key="index"
        :to="'/channels/' + channel.toLowerCase() + '/'"
        class="nav-link"
      >{{channel}}</router-link>
    </form>
    <AppSearch/>
  </nav>
</template>

<script>
import AppSearch from '@/components/AppSearch';

export default {
  name: 'AppNavbar',
  components: {
    AppSearch,
  },
  computed: {
    channels() {
      return this.$store.getters.channelArray;
    },
  },
  mounted() {
    this.$store.dispatch('getChannels');
  },
};
</script>

<style scoped>
.router-link-exact-active {
  background-color: rgb(215, 6, 12);
  color: white !important;
}
</style>
