<template>
  <div>
    <ul v-if="numberOfNews > 1" class="pagination flex-wrap justify-content-center">
      <li class="page-item">
        <a @click="paginate(1)" class="page-link">First</a>
      </li>

      <li class="page-item">
        <a @click="paginatePrev" class="page-link" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <li
        v-if="paginationPage > paginateLimit"
        @click="paginate(paginationPage - paginateLimit)"
        class="page-item"
      >
        <a class="page-link">...</a>
      </li>

      <li
        v-for="(num, index) in numberOfNews"
        v-show="paginationShow(index + 1)"
        :key="index"
        @click="paginate(num)"
        :class="{'active': paginationPage===num}"
        class="page-item"
      >
        <a class="page-link">{{num}}</a>
      </li>

      <li
        v-if="paginationPage + paginateLimit <= numberOfNews"
        @click="paginate(paginationPage + paginateLimit)"
        class="page-item"
      >
        <a class="page-link">...</a>
      </li>

      <li class="page-item">
        <a @click="paginateNext" class="page-link" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>

      <li class="page-item">
        <a @click="paginate(numberOfNews)" class="page-link">Last</a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'AppPagination',
  props: {
    numberOfNews: Number,
    paginateLimit: Number,
  },
  computed: {
    paginationPage() {
      return this.$store.state.pagination.paginationPage;
    },
  },
  methods: {
    paginateNext() {
      if (this.paginationPage === this.numberOfNews) {
        this.$store.commit('setPaginationPage', 1);
      } else {
        this.$store.commit('setPaginationPage', this.paginationPage + 1);
      }
    },
    paginationShow(index) {
      const paginateStart = this.paginationPage - this.paginateLimit;
      const paginateEnd = this.paginationPage + this.paginateLimit;
      return index > paginateStart && index < paginateEnd;
    },
    paginatePrev() {
      if (this.paginationPage === 1) {
        this.$store.commit('setPaginationPage', this.numberOfNews);
      } else {
        this.$store.commit('setPaginationPage', this.paginationPage - 1);
      }
    },
    paginate(num) {
      if (this.paginationPage !== num) {
        this.$store.commit('setPaginationPage', num);
      }
    },
  },
};
</script>

<style scoped>
.page-item.active .page-link {
  background-color: rgb(215, 6, 12);
  border-color: rgb(215, 6, 12);
  color: white !important;
}
li {
  cursor: pointer;
}
</style>
