<template>
  <div>
    <form @submit.prevent="searchNews" class="form-inline">
      <div class="form-group mb-2">
        <input v-model="searchString" type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-danger mx-sm-3 mb-2">Search</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'AppSearch',
  data() {
    return {
      searchString: '',
    };
  },
  methods: {
    searchNews() {
      if (this.$route.name !== 'search') {
        this.$router.push({ name: 'search' });
      }
      this.$store.commit('setsearchTerm', this.searchString);
    },
  },
};
</script>

<style scoped>
.btn-danger {
  background-color: rgb(215, 6, 12);
  border-color: rgb(215, 6, 12);
}
.btn,
input {
  border-radius: 0px;
}
</style>


