<template>
  <div id="app" class="container">
    <AppNavbar class="mb-5"/>
    <router-view/>
  </div>
</template>

<script>
import AppNavbar from '@/components/AppNavbar';
export default {
  components: {
    AppNavbar,
  },
};
</script>

<style>
a {
  color: #3d3e3f !important;
  font-weight: 900;
}
a:hover {
  color: #67696b !important;
}
</style>
